body {
    background-color: blanchedalmond;
    background-size: cover;
}

.centralizar {
    background-color: gray;
    width: 680px;
    height: 715px;
    margin: auto;
    border-style: solid;
    border-width: 30px;
    border-color: grey;
}

.p {
    background-color: black;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    float: left;
    text-align: center;
    border-spacing: 1px;
}

.botaoStart {
    box-shadow: 5px 5px 5px black;
    width: 150px;
    height: 75px;
    float: left;
    margin: 25px;
}

.botaoPause {
    box-shadow: 5px 5px 5px black;
    width: 150px;
    height: 75px;
    float: right;
    margin: 25px;
}

.display {
    border-style: solid;
    border-width: 4px;
    border-color: white;
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    font-size: 50px;
    width: 672px;
    height: 60px;
}

.botaoW {
    box-shadow: 5px 5px 5px black;
    width: 100px;
    height: 75px;
    margin-left: 270px;
    margin-top: 475px;
}

.botaoA {
    box-shadow: 5px 5px 5px black;
    width: 100px;
    height: 75px;
    float: left;
    margin-top: 10px;
    margin-left: 180px;
}

.botaoS {
    box-shadow: 5px 5px 5px black;
    width: 100px;
    height: 75px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.botaoD {
    box-shadow: 5px 5px 5px black;
    width: 100px;
    height: 75px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}